@model HN.MenuManagement.HNMenuItemManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wow Web</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top"
         role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="/Home/Index" class="navbar-brand">
                    Home
                </a>
            </div>
            <ul class="nav navbar-nav">
                @foreach (HN.MenuManagement.HNMenuItem item in Model.Menus)
                {
                    <li>
                        @if (item.Menus.Count > 0)
                        {
                            <a href="@item.MenuAction"
                               class="dropdown-toggle"
                               data-toggle="dropdown">
                                @item.MenuTitle&nbsp;
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (HN.MenuManagement.HNMenuItem subItem in item.Menus)
                                {
                                    <li>
                                        <a href="@subItem.MenuAction">@subItem.MenuTitle</a>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <a href="@item.MenuAction">@item.MenuTitle</a>
                        }
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Wow web</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
